numpy
torch>=2.0.0
torchvision>=0.15.0
transformers>=4.0.0
torchaudio
matplotlib
opencv-python
supervision
albumentations
tensorflow 
tensorflow-macos  # If using Apple Silicon (M1, M2, M3)
tensorflow-metal  # For GPU acceleration on Apple Silicon
scikit-learn  
